<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout/css/create-post.css">
</head>
<body style="padding: 124px 0px 0px 334px;
             overflow-y: scroll;
             background-color: rgba(255, 244, 234, 1);">
    <div>
        <div class="judul-fitur">
            Buat Postingan
        </div>

        <form action="create-post.php" method="post">
            <div>
                <p class="text-create-post">Judul</p>
                <input class="input-judul-text" type="text" name="title" required>
            </div>
            <div>
                <p class="text-create-post">Deskripsi</p>
                <textarea class="input-desc-text" name="description" required></textarea>
            </div>
            <div>
                <button type="reset">Batal</button>
                <button type="submit" name="save">Simpan</button>
            </div>
        </form>
        
    </div>
</body>
</html>