<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Document</title>
        <link rel="stylesheet" href="layout/css/header.css">
        <link rel="stylesheet" href="layout/css/general.css">
    </head>

    <body>
        <div class="header">

            <div class="left-section">
                <p class="logo">
                    EHT
                </p>
            </div>

            <div class="middle-section">
                <div class="search-container">
                    <img class="search-icon" src="layout/Icon/search-icon.svg" alt="Search Icon">
                    <input class="search-bar" type="text" placeholder="Pencarian EHT">
                </div>
            </div>            

            <div class="right-section">
                <a href="login.php" class="login-button">
                    Login
                </a>                 
                <a href="signup.php" class="signup-button">
                    Sign Up
                </a>  
            </div>
        </div>
    </body>

</html>