<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout/css/homepage.css">
</head>
<body style="
            background-color: rgba(255, 244, 234, 1);">
    
    <div class="header">
        <div class="logo">
            <img class="logo-img" src="layout/Icon/logo.svg">
        </div>
    </div>

    <div class="body">
        <a href="profile-web.php" class="profile">
            <p>Profile</p>
        </a>

        <a href="main.php" class="komunitas">
            <p>Komunitas</p>
        </a>

        <a href="donation.html" class="donasi">
            <p>Donasi</p>
        </a>

        <a href="visi-misi.php" class="visi-misi">
            <p>Visi & Misi</p>
        </a>

        <a href="blog.php" class="blog">
            <p>Blog</p>
        </a>
    </div>
</body>
</html>