<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="layout/css/post-card.css">
    <link rel="stylesheet" href="layout/css/general.css">
</head>
<body style="padding: 60px 0px 0px 300px;;">
    
    <div class="post-container">

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                     

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                    

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                    

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                   

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                        <!-- <p class="vote-number">100</p> -->

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                        <!-- <p class="vote-number">100</p> -->

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                        <!-- <p class="vote-number">100</p> -->

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                        <!-- <p class="vote-number">100</p> -->

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

        <div class="post-card">

            <div class="profile-post">
                
                <img class="profile-picture">

                <div class="username">
                    username
                </div>
                
            </div>

            <div class="judul-post">
                
                <p class="judul-text">Judul</p>
            
            </div>

            <div class="description-post">

                <p class="deskripsi-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam iste aspernatur neque, tempora ipsam consequatur, ea accusantium, est dolores vel eligendi magnam? Est delectus dolores assumenda, unde dolore possimus!</p>
            
            </div>
        
            <div class="status-post">

                <div class="vote-button">

                    <button class="up-button">
                    
                        <img class="up-icon" src="layout/Icon/up.svg">
    
                    </button>

                        <!-- <p class="vote-number">100</p> -->

                    <button class="down-button">
    
                        <img class="down-icon" src="layout/Icon/down.svg">
    
                    </button>

                </div>

                <button class="comment-button">

                    <img class="comment-icon" src="layout/Icon/comment.svg">

                    <p class="number">
                        10
                    </p>

                </button>

                <button class="share-button">
                    
                    <img class="share-icon" src="layout/Icon/share.svg">

                    <p class="share-text">
                        share
                    </p>

                </button>

            </div>

        </div>

    </div>    

</body>
</html>