<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout/css/sidebar.css">
    <link rel="stylesheet" href="layout/css/general.css">
</head>
<body>
    
    <div class="sidebar">
            
        <div class="home">

            <img class="home-icon" src="layout/Icon/home.svg">

            <p class="sidebar-text">Halaman Utama</p>

        </div>

        <div class="donation">

            <img class="donasi-icon" src="layout/Icon/donation.svg">

            <p class="sidebar-text">Donasi</p>

        </div>

        <img class="sub-border" src="layout/Icon/sub-border.svg">

        <div>
            <p class="komunitas-sidebar">
                Komunitas
            </p>

            <div class="komunitas-baru-saja-sidebar">

                <img class="foto-komunitas-sidebar" src="layout/Komunitas-icon/malang.jpg">

                <div class="text-komunitas-sidebar">

                    <p class="judul-komunitas-sidebar">
                        MakanNgalam
                    </p>

                    <p class="anggota-komunitas-sidebar">
                        12k anggota
                    </p>

                </div>

            </div>

            <div class="komunitas-baru-saja-sidebar">

                <img class="foto-komunitas-sidebar" src="layout/Komunitas-icon/malang.jpg">

                <div class="text-komunitas-sidebar">

                    <p class="judul-komunitas-sidebar">
                        MakanNgalam
                    </p>

                    <p class="anggota-komunitas-sidebar">
                        12k anggota
                    </p>

                </div>
                
            </div>

            <div class="komunitas-baru-saja-sidebar">

                <img class="foto-komunitas-sidebar" src="layout/Komunitas-icon/malang.jpg">

                <div class="text-komunitas-sidebar">

                    <p class="judul-komunitas-sidebar">
                        MakanNgalam
                    </p>

                    <p class="anggota-komunitas-sidebar">
                        12k anggota
                    </p>

                </div>
                
            </div>

        </div>

        <img class="sub-border" src="layout/Icon/sub-border.svg">

        <div>
            <p class="sumber-daya-sidebar">
                Sumber Daya
            </p>

            <div class="tentang">

                <img class="tentang-icon" src="layout/Icon/tentang.svg">

                <p class="sidebar-text">Tentang</p>

            </div>

            <div class="peta">

                <img class="peta-icon" src="layout/Icon/peta.svg">

                <p class="sidebar-text">Peta</p>

            </div>

            <div class="berita">

                <img class="berita-icon" src="layout/Icon/berita.svg">

                <p class="sidebar-text">Berita</p>

            </div>

            <div class="iklan">

                <img class="iklan-icon" src="layout/Icon/iklan.svg">

                <p class="sidebar-text">Iklan</p>

            </div>

            <div class="bantuan">

                <img class="bantuan-icon" src="layout/Icon/pertolongan.svg">

                <p class="sidebar-text">Bantuan</p>

            </div>

        </div>

    </div>

</body>
</html>