<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="layout/css/sub-sidebar.css">
    <link rel="stylesheet" href="layout/css/general.css">
</head>
<body>
    
    <div class="sub-sidebar2">

        <p class="judul-sub-sidebar">
            Komunitas Populer
        </p>

        <div class="komunitas-populer">

            <img class="foto-komunitas" src="layout/Komunitas-icon/malang.jpg">

            <div class="text-komunitas">

                <p class="judul-komunitas">
                    MakanNgalam
                </p>

                <p class="anggota-komunitas">
                    12k anggota
                </p>

            </div>

        </div>

        <div class="komunitas-populer">

            <img class="foto-komunitas" src="layout/Komunitas-icon/malang.jpg">

            <div class="text-komunitas">

                <p class="judul-komunitas">
                    MakanNgalam
                </p>

                <p class="anggota-komunitas">
                    12k anggota
                </p>

            </div>

        </div>

        <div class="komunitas-populer">

            <img class="foto-komunitas" src="layout/Komunitas-icon/malang.jpg">

            <div class="text-komunitas">

                <p class="judul-komunitas">
                    MakanNgalam
                </p>

                <p class="anggota-komunitas">
                    12k anggota
                </p>

            </div>

        </div>

        <div class="komunitas-populer">

            <img class="foto-komunitas" src="layout/Komunitas-icon/malang.jpg">

            <div class="text-komunitas">

                <p class="judul-komunitas">
                    MakanNgalam
                </p>

                <p class="anggota-komunitas">
                    12k anggota
                </p>

            </div>

        </div>

        <div class="komunitas-populer">

            <img class="foto-komunitas" src="layout/Komunitas-icon/malang.jpg">

            <div class="text-komunitas">

                <p class="judul-komunitas">
                    MakanNgalam
                </p>

                <p class="anggota-komunitas">
                    12k anggota
                </p>

            </div>

        </div>
        
    </div>

</body>
</html>