<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="layout/css/sub-sidebar.css">
    <link rel="stylesheet" href="layout/css/general.css">
</head>
<body>
    
    <div class="sub-sidebar1">
        <p class="judul-sub-sidebar">Donasi Populer</p>
    
        <div class="donasi-populer">
    
            <img class="foto-donasi" src="layout/Donasi-icon/tanah-longsor1.jpeg">
            
            <div class="text-donasi">
                <p class="judul-donasi">Bantu Desa Sukomakan</p>
                <p class="terkumpul-donasi">Terkumpul : Rp</p>
            </div>
            
        </div>
    
        <div class="donasi-populer">
    
            <img class="foto-donasi" src="layout/Donasi-icon/tanah-longsor1.jpeg">
            
            <div class="text-donasi">
                <p class="judul-donasi">Bantu Desa Sukomakan</p>
                <p class="terkumpul-donasi">Terkumpul : Rp</p>
            </div>
            
        </div>
    
        <div class="donasi-populer">
    
            <img class="foto-donasi" src="layout/Donasi-icon/tanah-longsor1.jpeg">
            
            <div class="text-donasi">
                <p class="judul-donasi">Bantu Desa Sukomakan</p>
                <p class="terkumpul-donasi">Terkumpul : Rp</p>
            </div>
            
        </div>
    
        <div class="donasi-populer">
    
            <img class="foto-donasi" src="layout/Donasi-icon/tanah-longsor1.jpeg">
            
            <div class="text-donasi">
                <p class="judul-donasi">Bantu Desa Sukomakan</p>
                <p class="terkumpul-donasi">Terkumpul : Rp</p>
            </div>
            
        </div>
    
        <div class="donasi-populer">
    
            <img class="foto-donasi" src="layout/Donasi-icon/tanah-longsor1.jpeg">
            
            <div class="text-donasi">
                <p class="judul-donasi">Bantu Desa Sukomakan</p>
                <p class="terkumpul-donasi">Terkumpul : Rp</p>
            </div>
            
        </div>
    
    </div>

</body>
</html>